<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue17</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <header>
      <h2>Bangla tutorials</h2>
    </header>
    <div id="app">
      <input type="text" v-model="firstName" placeholder="Enter first name">
      <input type="text" v-model="lastName" placeholder="Enter last name">
      <br>

      <p>Your Full Name is: {{ fullName }}</p>
    </div>
    <script src="app.js"></script>
  </body>
</html>
